# Binary Files #
*.class
bin/

# Package Files #
*.jar
*.war
*.ear
lib/

# Eclipse configure files #
.classpath
.project

# Experiment files #
data/
log/
tmp/
classifiers/
visualization/

# system files
*~
*.lock
.DS_STORE
